AUTHORS
COPYING
Changes
INSTALL
Makefile.am
Makefile.in
README.md
acl/
aclocal.m4
auto/
completions/
config.h.in
configure
configure.ac
debian/
doc/
docker/
libbloom/
libcork/
libipset/
m4/
rpm/
scripts/
shadowsocks-libev.pc.in
